# ===================
# Target
# ===================
TARGET_BASE_URL=https://api.openai.com/v1
TARGET_API_KEY=dummy_key
TARGET_MODEL_NAME=gpt-5.6-luna

# =================
# Simulator API
# =================

SIMULATOR_BASE_URL=https://api.openai.com/v1
SIMULATOR_API_KEY=dummy_key
SIMULATOR_MODEL_NAME=gpt-5.6-luna

# =================
# Judge API
# =================

JUDGE_BASE_URL=https://api.openai.com/v1
JUDGE_API_KEY=dummy_key
JUDGE_MODEL_NAME=gpt-5.6-luna



